* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    margin-bottom: 15px;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #4facfe;
    color: white;
    transition: 0.3s;
}

button:hover {
    background: #007bff;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    margin-bottom: 15px;
}

li {
    background: #f1f1f1;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    background: #d4edda;
}

.delete-btn {
    background: red;
}

.delete-btn:hover {
    background: darkred;
}

/* Dark Mode */
.dark {
    background: #1e1e1e;
    color: white;
}

.dark .container {
    background: #2c2c2c;
}

.dark li {
    background: #444;
}

.dark input {
    background: #333;
    color: white;
    border: none;
}
input[type="date"] {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

li small {
    display: block;
    font-size: 12px;
    color: gray;
}

li.urgent {
    border-left: 5px solid red;
}

.dark li small {
    color: #ccc;
}
#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

li {
    cursor: grab;
}